#nav_item-1 {
    opacity: 0;
    -webkit-animation: 1s ease 2s normal forwards 1 fadein;
    animation: 1s ease 2s normal forwards 1 fadein;
}
#nav_item-2 {
    opacity: 0;
    -webkit-animation: 1s ease 2.25s normal forwards 1 fadein;
    animation: 1s ease 2.25s normal forwards 1 fadein;
}
#nav_item-3 {
    opacity: 0;
    -webkit-animation: 2s ease 2.5s normal forwards 1 fadein;
    animation: 1s ease 2.5s normal forwards 1 fadein;
}
#nav_item-4 {
    opacity: 0;
    -webkit-animation: 2s ease 2.75s normal forwards 1 fadein;
    animation: 1s ease 2.75s normal forwards 1 fadein;
}
#logo_navbar {
    opacity: 0;
    -webkit-animation: 2s ease 1.75s normal forwards 1 fadein;
    animation: 1s ease 1.75s normal forwards 1 fadein;
}
#navbar_button {
    opacity: 0;
    -webkit-animation: 2s ease 2.75s normal forwards 1 fadein;
    animation: 1s ease 2.75s normal forwards 1 fadein;
}

#navbar {
    display: inline-block;
}

#navbar:after {
    display: block;
    content: '';
    border-bottom: solid 1px #ffffff;
    animation: 1s ease 0s normal forwards 1 borderin;
}

.show_navbar {
    height: 220px !important;
}

.hide {
    height: 0px;
    transition: height 0.5s;
    overflow: hidden;
}

nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.nav-item:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #fff;
    content: "";
    display: block;
    height: 1px;
    width: 0;
}

.nav-item:hover:after {
    width: 100%;
}

.bg-custom-nav {
    background-color: rgba(0, 0, 0, 0.25);
}