
@keyframes blackout {
    0% { z-index:9; }
    100% { z-index:-1; }
}

@-webkit-keyframes blackout {
    0% { z-index:9; }
    100% { z-index:-1; }
}

@keyframes blackout_logo {
    0% { z-index:10; }
    100% { z-index:1; }
}

@-webkit-keyframes blackout_logo {
    0% { z-index:10; }
    100% { z-index:1; }
}

.layer {
    display: block;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    -webkit-animation: 3s ease 2s normal forwards 1 blackout, 2s ease 2s normal forwards 1 fadeout;
    animation: 0s ease 4s normal forwards 1 blackout, 2s ease 2s normal forwards 1 fadeout;
}