@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.notview {
    opacity: 0%;
}

.inview {
    opacity: 100%;
    transition: opacity 1s ease-in;
}


@keyframes fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeout {
    0% { opacity:1; }
    100% { opacity: 0;}
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0;}
}

@keyframes fadein70 {
    0% { opacity:0; }
    100% { opacity:0.7; }
}

@-webkit-keyframes fadein70 {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}

@keyframes borderin {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

@-webkit-keyframes borderin {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

@keyframes formBlur {
    0% { opacity: 0; backdrop-filter: blur(0px); transform: translate(0, 10%) }
    100% { opacity: 1; backdrop-filter: blur(8px); transform: translate(0, 0)  } 
}

@webkit-o-keyframes formBlur {
    0% { opacity: 0; backdrop-filter: blur(0px); transform: translate(0, 10%) }
    100% { opacity: 1; backdrop-filter: blur(8px); transform: translate(0, 0)  } 
}

@font-face {
    font-family: "ThereBrat";
    src: local("ThereBrat"),
        url("./assets/fonts/ThereBrat.ttf") format("truetype");
}