@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.notview {
    opacity: 0%;
}

.inview {
    opacity: 100%;
    transition: opacity 1s ease-in;
}

#navbar {
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}